.products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    margin: 20px 0;
}

/* ----------- Product Item ----------------- */
@import url("../utils/productItem/productItem.css");

.delete-all{
    text-align: right;
    margin: 20px;
}
.delete-all input{
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin: 0 15px;
}
.delete-all span{
    text-transform: uppercase;
    color: #549df6;
    letter-spacing: 1.3px;
}
.delete-all button{
    border: 1px solid crimson;
    padding: 10px 25px;
    color: crimson;
    text-transform: uppercase;
}
.banner {
    border-radius: 30px;

}
/* ------------ Filters Menu ----------------- */
.filter_menu{
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
    background-color: #fae9ac;
    color: #222222;
    padding: 12px;
}
.filter_menu select, input{
    /*border: 1px solid #ccc;*/
    outline: none;
    height: 40px;
    padding: 0 5px;
    border-radius: 30px;

}
.filter_menu input{
    flex: 1;
    margin: 0 10px;
}

/* -------------------- Load More --------------- */
.load_more{
    text-align: center;
}
.load_more button{
    padding: 5px 25px;
    margin-bottom: 20px;
    background-color: #fae9ac;
    color: white;
    text-transform: capitalize;
    border-radius: 50px;
    outline: none;

}