.wrapper-loading{
    position: relative;
    height: 40vh;
}
.loader {
   position: absolute;
    right: 50%;
    top: 50%;
}
h5 {
    height: 100px;
    position: relative;
    width: 100px;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}
h5::before {
    position: absolute;
    content: '';
    width: 100%;
    bottom: 45px;
    z-index: 1;
    height: 100%;
    transform-origin: center bottom;
    -webkit-clip-path: circle(50% at 50% 100%);
    clip-path: circle(50% at 50% 100%);
    background-color: rgb(255, 255, 255);
    animation: rotate 2s linear infinite;
}
h5::after {
    position: absolute;
    content: '';
    width: 100%;
    top: 45px;
    z-index: 1;
    height: 100%;
    transform-origin: center top;
    -webkit-clip-path: circle(50.0% at 50% 0);
    clip-path: circle(50.0% at 50% 0);
    background-color: rgb(255, 255, 255);
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    0%{ transform: rotate(0deg);}
    100%{transform: rotate(-360deg);}
}